@import url("https://use.typekit.net/vde1ign.css");

body {
    font-family: monotalic, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3A5743;
    background-color: #f7efda;
}

h1 {
    font-family: puffin-arcade-yoko, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2rem;
    padding: 5px;
}

h2 {
    font-family: puffin-arcade-yoko, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2rem;
    color: #3A5743
}

.radio-grid input[type="radio"] {
    margin-right: 5px;
}

.radio-grid {
    display: block;
    padding: 10px;
    border: 2px solid #3A5743;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #FCF8EF; 
}